.selector-for-some-widget {
    box-sizing: content-box;
  }
html,body{/*全体幅1400pxで*/
    width: 100%;
    min-width: 800px;
    margin: auto;
    font-size: 15px;
    font-family: 'Courier New', Courier, "Meiryo";
    background-image: url("img/BgImage.jpg");
}

#Title{/*HPタイトル作成*/
    min-height: 300px;
    /*margin-bottom: 0rem;*/
    margin: auto auto auto auto;
    background-image: url("img/CircuitImage.png");
    background-size: cover;
    background-position: center 30%;

    font-size: 4em;
    text-decoration: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#Title-link:hover {
     text-decoration: none;
}

#menubar {
    font-size: 2em;
    font-weight: 700;
}

#about {
    min-height: auto;
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;

    font-size: 1.5rem;
}

#works {
    min-height: auto;
    
    background-color: rgba(91, 108, 126, 0.9);
    background-blend-mode:lighten;
}
#works-list {
    max-width: 1600px;
    min-width: 800px;

    font-size: 1.2rem;
}
#skill {
    min-height: auto;
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
}
#skill-list {
    max-width: 800px;
    min-width: 400px;

    font-size: 1.5rem;
}
#contact {
    min-height: 300px;
    background-color: rgba(91, 108, 126, 0.9);
    background-blend-mode:lighten;
}


footer{
    text-align: center;
}